:root {
	--violet: hsl(257, 40%, 49%);
	--soft-magenta: hsl(300, 69%, 71%);
}

.text-poppins {
	font-family: 'Poppins', sans-serif;
}

body {
	font-family: 'Open Sans';
	background: url('./images/bg-mobile.svg') var(--violet) no-repeat;
}

.text-violet {
	color: var(--violet);
}

.text-soft-magenta {
	color: var(--soft-magenta);
}

footer a:hover {
	color: var(--soft-magenta);
	border-color: var(--soft-magenta);
}

button:hover {
	background-color: var(--soft-magenta);
	color: white;
}

@media (min-width: 1024px) {
	body {
		background: url('./images/bg-desktop.svg') var(--violet);
	}
}
